header(class="top")
  section(class="top__avatar")
    img(src="./img/me.png" alt="my photo" class="top__images")
  section(class="top__personal-data")
    p(class="top__full-name") 
      span(class="top__name") Artem
      span(class="top__surname") Orlov Sergeevich
    p(class="top__job") Front End Devoloper