main(class="middle")
  section(class="middle__common-data")
    div(class="middle__contact-data contact-data")
      span(class="middle__name-contact") Address: 
      span(class="middle__text") Russia, Orengurgskai area, Gau
    div(class="middle__contact-data contact-data")
      span(class="middle__name-contact") Phone: 
      span(class="middle__text") +7 (909) 614 50 81
    div(class="middle__contact-data contact-data")
      span(class="middle__name-contact") Email: 
      span(class="middle__text") artm.orlov.88@list.ru
    div(class="middle__social-network")
      a(href="https://vk.com/id106321171" class="middle__network" id="vk") Artem Orlov
      a(href="https://www.facebook.com/artem.orlov.566/" class="middle__network" id="fb") Artem Orlov
      a(href="https://www.instagram.com/artemorlov26//" class="middle__network" id="instagram") Artem Orlov
      a(class="middle__network" id="whatUp") +7 (909) 614 50 81
    div(class="middle__container-skills") Skills
      div(class="middle__skills")
        p HTML
        span
          span(class="middle__skills-html")
      div(class="middle__skills")
        p CSS
        span
          span(class="middle__skills-css")
      div(class="middle__skills")
        p JavaScript
        span
          span(class="middle__skills-js")
      div(class="middle__skills")
        p Node JS
        span
          span(class="middle__skills-njs")
      div(class="middle__skills")
        p Express
        span
          span(class="middle__skills-exp")
      div(class="middle__skills")
        p SCSS
        span
          span(class="middle__skills-scss")
      div(class="middle__skills")
        p GULP
        span
          span(class="middle__skills-gulp")
      div(class="middle__skills")
        p JADE
        span
          span(class="middle__skills-jade")
      div(class="middle__skills")
        p Socket (socket.io)
        span
          span(class="middle__skills-socket")
      div(class="middle__skills")
        p GIT
        span
          span(class="middle__skills-git")
      div(class="middle__skills")
        p Photoshop
        span
          span(class="middle__skills-ph")
      div(class="middle__skills")
        p Figma
        span
          span(class="middle__skills-fg")
  section(class="middle__resume")
    div(class="middle__info info")
      h2 Introduction
      p I have one aim, it’s study and develop like front end developer. I am very fastly catching new knowledges, purposeful (try always achieve what I think), responsible and community (I like meeting different people and talk on common themes and just everything). In future I want became full stack developer and I will be hard work for it. Unfortunately, I don’t have commercial experience development, but I have several training projects and very big wish and aspiration to study. I always try improve my skills in programming and English.
    div(class="middle__info info")
      h2 Education
      p(class="middle__name-department") Technical service and repair car
      p(class="middle__name-educational-institution") Orsky machine-building college
      p(class="middle__period") 2004 - 2008
      p(class="middle__name-department") Electroenergetics and electrotechnical
      p(class="middle__name-educational-institution") National University of Science and Technology
      p(class="middle__period") 2014 - 2018
    div(class="middle__info info")
      h2 My works
      p My works and source code locate in GitHub of mine. Above I leave link of them. Please, don’t condemn very strongly :-). There is no limit perfect.
      a(href="https://guyfox70.github.io/snake-gh-pages/" class="middle__snake") Snake
    div(class="middle__info info")
      h2 My English level
      p You may see my English level and certificate for link below:
      a(href="https://www.efset.org/cert/3RSqEz" class="middle__en-level") English certificate
