.middle {
  display: grid;
  grid-template-areas: "feature resume";
  grid-template-columns: 35% 65%;

  @media screen and (max-width: 980px) {
    grid-template-areas: "feature" "resume";
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }
}

.middle__common-data {
  background: #e0e0e1;
  padding: 7% 15% 0 15%;

  display: flex;
  flex-direction: column;

  grid-area: feature;

  @media screen and (max-width: 980px) {
    padding: 5% 20% 0 20%;
  }
}

.middle__contact-data {
  margin-bottom: 10%;

  @media screen and (max-width: 980px) {
    margin-bottom: 5%;
  }
}

.middle__name-contact {
  display: flex;
  
  font-family: 'Lato-Bold';
  font-size: calc(18px + 1.4vw);
  line-height: calc(18px + 1.5vw);

  @media screen and (max-width: 1728px) {
    font-size: calc(18px + 1.2vw);
  }

  @media screen and (max-width: 1472px) {
    font-size: calc(18px + 1vw);
  }

  @media screen and (max-width: 1282px) {
    font-size: calc(18px + .8vw);
  }

  @media screen and (max-width: 1282px) {
    font-size: calc(18px + .6vw);
  }
}

.middle__text {
  font-family: 'Lato-Light';
  font-size: calc(18px + 1vw);
  line-height: calc(18px + 1.5vw);

  color: #1f2222;

  @media screen and (max-width: 1728px) {
    font-size: calc(18px + .8vw);
  }

  @media screen and (max-width: 1472px) {
    font-size: calc(18px + .6vw);
  }

  @media screen and (max-width: 1282px) {
    font-size: calc(18px + .4vw);
  }

  @media screen and (max-width: 1282px) {
    font-size: calc(18px + .1vw);
  }

}

.middle__network {
  display: block;
  text-decoration: none;
  color: #1f2222;

  font-family: 'Lato-Light';
  font-size: calc(18px + 1vw);
  line-height: calc(18px + 1.5vw);

  @media screen and (max-width: 1728px) {
    font-size: calc(18px + .8vw);
  }

  @media screen and (max-width: 1472px) {
    font-size: calc(18px + .6vw);
  }

  @media screen and (max-width: 1282px) {
    font-size: calc(18px + .4vw);
  }

  @media screen and (max-width: 1282px) {
    font-size: calc(18px + .1vw);
  }
}

.middle__network:not(:last-child) {
  margin-bottom: calc(18px + 1.4vw);
}

#vk::before {
  content: "";
  display: inline-block;
  width: 5vw;
  height: 10vh;
  background: url('../img/vk.png') no-repeat center;
  background-size: contain;
  vertical-align: middle;
  margin: 0 calc(18px + 1.4vw) 0 0;
}

#fb::before {
  content: "";
  display: inline-block;
  width: 5vw;
  height: 10vh;
  background: url('../img/facebook.png') no-repeat center;
  background-size: contain;
  vertical-align: middle;
  margin: 0 calc(18px + 1.4vw) 0 0;
}

#instagram::before {
  content: "";
  display: inline-block;
  width: 5vw;
  height: 10vh;
  background: url('../img/instagram.png') no-repeat center;
  background-size: contain;
  vertical-align: middle;
  margin: 0 calc(18px + 1.4vw) 0 0;
}

#whatUp::before {
  content: "";
  display: inline-block;
  width: 5vw;
  height: 10vh;
  background: url('../img/whatsapp.png') no-repeat center;
  background-size: contain;
  vertical-align: middle;
  margin: 0 calc(18px + 1.4vw) 0 0;
}

.middle__container-skills {
  margin: 20% 0 0 0;
  font-family: 'Lato-Bold';
  font-size: calc(18px + 1.4vw);
  line-height: calc(18px + 1.5vw);

  @media screen and (max-width: 1728px) {
    font-size: calc(18px + 1.2vw);
  }

  @media screen and (max-width: 1472px) {
    font-size: calc(18px + 1vw);
  }

  @media screen and (max-width: 1282px) {
    font-size: calc(18px + .8vw);
  }

  @media screen and (max-width: 980px) {
    margin: 15% 0 0 0;
  }

}

.middle__skills {
  margin: 10% 0 0 0;

  font-family: 'Lato-Light';
  font-size: calc(18px + 1vw);
  line-height: calc(18px + 1.5vw);

  @media screen and (max-width: 1728px) {
    font-size: calc(18px + .8vw);
  }

  @media screen and (max-width: 1472px) {
    font-size: calc(18px + .6vw);
  }

  @media screen and (max-width: 1282px) {
    font-size: calc(18px + .4vw);
  }

  @media screen and (max-width: 1174px) {
    font-size: calc(18px + .1vw);
  }

  @media screen and (max-width: 1174px) {
    margin: 5% 0 0 0;
  }

}

.middle__skills:last-child {
  margin: 5% 0 10% 0;

  @media screen and (max-width: 980px) {
    margin: 5% 0 5% 0;
  }
}

.middle__skills > span {
  display: block;
  width: 100%;
  height: .7vw;
  border: 1px solid #7d64a7;
  margin: 10px 0 0 0;
  border-radius: 10px;

  @media screen and (max-width: 780px) {
    height: 1.5vw;
  }
}

.middle__skills > span > span{
  display: block;
  height: 100%;
  background: #7d64a7;
  border-radius: 10px;
}

.middle__skills-html {
  width: 90%;
}

.middle__skills-css {
  width: 80%;
}

.middle__skills-js {
  width: 70%;
}

.middle__skills-njs,
.middle__skills-exp,
.middle__skills-scss,
.middle__skills-gulp,
.middle__skills-jade {
  width: 40%;
}

.middle__skills-socket,
.middle__skills-git {
  width: 30%;
}

.middle__skills-ph,
.middle__skills-fg {
  width: 20%;
}